﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test Project Stats from TC</h1>
    
   @if(Model.Builds!= null)
   {
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].Status)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Builds[0].StatusText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Builds[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Builds)
        {
            
            var startDate = DateTime.ParseExact(item.StartDate, "yyyyMMddTHHmmssK", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd hh:mm:ss");
            var finishDate = DateTime.ParseExact(item.FinishDate, "yyyyMMddTHHmmssK", System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd hh:mm:ss");
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.Raw(item.StatusText.Length > 50 ? $"{item.StatusText.Substring(0, 50)}...." : item.StatusText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => finishDate)
                </td>
            </tr>
        }
    </tbody>
</table>
   }
</div>
